body{
    
  font-family: "Times New Roman", Times, serif;

    background-color: #ffffff;
    margin: 0;
    padding: 0;}

    
    .language-switch{
        position: absolute;
        top: 20px;
        left: 20px;
        


    }
    .btn{
        background-color: #d9d9d9;
        color: rgb(0, 0, 0);
        padding: 10px 20px;
        border: 1px solid #000000;
        cursor: pointer;
        font-size: 16px;
    }
    .btn:hover{
        background-color: #989898; 
        border-color: #000000;}
    .btn:active{
        transform: scale(0.98);}
    .language-btn{
        width: 140px;
        height: 60px;
        text-align: center;

    }
    .container{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title{
        border: 2px solid #000;
        padding: 100px 300px;
        font-size: 62px;
        margin-bottom: 30px;
       
    }
    .menu-buttons{
        display: flex;
        gap: 30px;
    }
    .menu-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 50px;
        font-size: 20px;
    }

    .tutorial-page{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Times New Roman", Times, serif;

    } 
    
    .tutorial-text{
        background-color: #ffffff;
        border: 1px solid #000000;
        padding: 100px 20px;
        line-height: 1.6;
        font-size: 18px;
        margin-bottom: 20px;
    }
   

    .tutorial-fooster{
        display: flex;
        justify-content: flex-end;
    }

    .close-btn{
        width: 100px;
        height: 40px;
        font-size: 16px;
    }
    .story-page{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Times New Roman", Times, serif;

    }
    .story-box{
        background-color: #ffffff;
        border: 2px solid #000000;
        display: flex;
        width: 90%;
        
        height: 80vh;
        justify-content: center;
        align-items: center;
        padding: 16px 20px;
        box-sizing: border-box;
        overflow-y: auto;
        display: block;
        text-align: left;
        margin-bottom: 40px;
    }
    #storyText{
        line-height: 1.6;
        font-size: 20px;
        width: 100%;
        height: auto;
        text-align: left;
        white-space: pre-line;
    }
    .story-fooster{
        position: absolute;
        right: 20px;
        bottom: 16px;
        width: auto;
        
    }
    .story-next-btn{
        width: 90px;
        height: 40px;
        font-size: 16px;
        position: absolute;
        right: 65px;
        bottom: 25px;
        justify-content: center;


    }
    .story-line{
        line-height: 1.6;
        font-size: 18px;
        text-align: left;
        margin:0 0 8px 0;
        white-space: pre-wrap;
        position: relative;
    }
    .blink-caret{
        position: absolute;
        display: inline-block;
       
        bottom: 0;
        margin-left: 12px;
        font-size: 18px;
        animation: blink 1s steps(1) infinite;
    
    }
    @keyframes blink{
        50%{opacity:0;}
    }
    .story-box{
        position: relative;
    }
    .choice-page{
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Times New Roman", Times, serif;
        padding-top: 40px;
        box-sizing: border-box;
        font-size: 18px;
        white-space: pre-line;
        
    }
    .options-area{
        width: 80%;
        max-width: 1000px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;

    }
    .option-box{
        border: 2px solid #000000;
        padding:10px 15px;
        font-size: 18px;
        cursor: pointer;
        background-color: #f0f0f0;
        
    }
    .option-box:hover{
        background-color: #989898; 
        border-color: #000000;}
    .option-box:active{
        transform: scale(0.98);}
    .typing-page{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40 px;
        box-sizing: border-box;

    }
    .time-box{
        width: 260px;
        background-color: #f0f0f0;
        border: 2px solid #000000;
        padding: 16px 20px;
        font-size: 18px;
        text-align: center;
        margin-bottom: 30px;
    }
    .typing-target{
    
        width: 80%;
        max-width: 800px;
        border: 2px solid #000000;
        padding: 16px 20px;
        font-size: 20px;
        box-sizing: border-box;
    }
    .typing-box{
        position: relative;
        width: 80%;
        max-width: 800px;
        height: 160px;
        border: 2px solid #000000;
        
        font-size: 20px;
        box-sizing: border-box;
        margin-top: 20px;
    }
    
    .typing-input,
     .typing-hint{
        position: absolute;
        top: 16px;
        left: 20px;
        right: 20px;
        bottom: 16px;
        
        white-space: pre-wrap;
        
        font-size: 20px;
        font-family: "Times New Roman", Times, serif;
    }
     .typing-input{
       
        border: none;
        outline: none;
        background: transparent;       
        resize: none;
        padding: 0;
        margin:0;
        color: #000;
        z-index: 4;
    
        
    }
    .typing-hint{
        pointer-events: none;
        color: #a9a9a9;
        z-index: 3;
        
    }
    .typing-box.error{
        background-color: #ffcccc;
       
        
    }
    .typing-hint{
        z-index: 2;
    }
    .typing-input{

        z-index: 3;
    }
    .typing-status{
        margin-top: 10px;
        font-size: 16px;
    }
    .story-next-btn{
        position: fixed;
        right: 65px;
        bottom: 25px;
    }
   









